<h1>Create new item</h1>
<%= flash[:notice] %>
<%=form_for(@item) do |i| %>
    <p>Name <%=i.text_field :head %></p>
    <p>Body <%=i.text_area :body %></p>
    <p>Cat# <%=i.text_field :cat_num %></p>
    <p><%=i.submit "Create" %></p>
<% end %>
